body{
    background-color: rgb(51, 51, 51);
}

.playerList{
    position: fixed;
    bottom: 1%;
    left:0;
    right:0;
}

.addPlayer{
    position: fixed;
    bottom: 7%;
    right:3%;
}

.addQuestion{
    position: fixed;
    top: 35%;
    right:3%;
}