.slide {
  display: inline-block;
  width: 100%;
  border-radius: 40px;
  margin-top: 3%;
  background-color: white;
  box-sizing: border-box;
  border: 2px solid black;
}

.topBar {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  height:150px;
}

.button:hover {
  color: rgb(70, 70, 70);
  cursor: pointer;
}

.button {
  border: none;
  background-color: white;
  color: black;
  font-size: 120%;
}

.buttons {
  margin-top: 2%;
}

.question {
  font-size: 200%;
  font-weight: bolder;
  margin-top: 2%;
  font-family: "Times New Roman", Times, serif;
  width: 80%;
  border: 2px solid white;
  padding: 1%;
  text-align: left;
  word-break: normal;
  white-space: normal;
}

textarea {
  resize: none;
}

.input {
  border: 2px solid black;
  border-radius: 5px;
  word-break: normal;
  white-space: normal;
  margin-bottom:32px;
}

.input:focus {
  background-color: rgb(230, 230, 230);
  border-radius: 4px;
}

@media screen and (max-width: 625px), screen and (max-height:630px) {
  .question{
    font-size: 130%;
    margin-left:5%;
  }
  .topBar{
    height: 100px;
  }
  textarea{
    height:50px;
  }
  .button{
    font-size: 100%;
  }
  .buttons{
    margin-right:2%;
  }
}
